<%- include("partes/head") %>

<body>
  <link rel="stylesheet" href="css/carrinho.css" />
  <%- include("partes/header") %>
  <main>
    <div class="principal">
      <section class="produtos">
        <%for(let p of produtos){ %>
        <article id="produto_<%= p.id %>">
          <div class="produto">
            <img src="img/<%= p.imagem%>" alt="" />
            <div class="textos">
              <h1><%= p.nome%></h1>
              <p class="preco"><%= p.preco%></p>
            </div>
            <button class="lixeira"id="bt_<%= p.id%>" type="button">
              <i class='material-icons' id= <%= p.id%> >delete</i>
            </button>
          </div>
        </article>
        <%}%>
      </section>
      <div class="resumo">
        <form>
          <h1 class="pedido">Resumo do pedido</h1>
          <div class="quantidade"><h3>Produtos: <%= produtos.length %></h3></div>
          <div class="frete"><h3>Valor Frete: R$</h3></div>
          <div class="total"><h3>Total: </h3><h3>R$<%= total%></h3></div>
          <button class="comprar">comprar</button>
        </form>
      </div>
    </div>
    <script src="js/carrinho.js"></script>
  </main>
  <%-include("partes/footer")%>
    </body>
