<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="css/geral.css">
        <link rel="stylesheet" href="css/home.css">
        <%-include("partes/header")%>
        <main>
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <div class="slide first">
                        <img src="/img/depositodemadeira.jpg" width="900" alt="Imagem 1" />
                    </div>
                    <div class="slide">
                        <img src="/img/depositodemadeira2.jpg" alt="Imagem 2" />
                    </div>
                    <div class="slide">
                        <img src="/img/depositodemadeira3.jpg" alt="Imagem 3" />
                    </div>
                    <div class="slide">
                        <img src="/img/depositodemadeira4.jpg" alt="Imagem 4" />
                    </div>
                </div>
                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>
                <div class="manual-navigation">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                <script src="/js/carrosel.js"></script>
            </div>
        </main>
        <section>
            <h3>Veja nossos produtos</h3>
            <div class="produtos">
                <% for(let p of produtos){ %>
                    <div class="produto" id="produto">
                        <article>
                            <img src="img/<%= p.imagem%>" alt="<%= p.nome%>">
                            <h3><%= p.nome%></h3>
                            <h3>R$ <%= p.preco%></h3>
                            <form class="carro" action="/carrinho" method="post">
                                <input type="hidden" name="id" value="<%= p.id %>">
                                <button type="submit">+Add</button>
                            </form>
                        </article>
                    </div>
                <% } %>
            </div>
        </section>
        <%-include("partes/footer")%>
        <script src="carrosel.js"></script>
    </body>

    </html>