<%-include("partes/head")%>

    <body>
        <link rel="stylesheet" href="css/geral.css">
        <link rel="stylesheet" href="css/home.css">
        <%-include("partes/header")%>
        <main>
            <div class="container">
                <img src="img/depositodemadeira.jpg" alt="">
            </div>
        </main>
        <section>
            <h3>Veja nossos produtos</h3>
            <div class="produtos">
                <div class="produto" id="produto1">
                    <% for(let p of produtos){ %>
                        <article>
                            <img src="img/<%=p.imagem%>" alt="<%=p.nome%>">
                            <h3><%=p.nome%></h3>
                            <h3>R$ <%=p.preco%></h3>
                        </article>
                    <% } %>
                </div>
                <div class="produto" id="produto2">
                <img src="img/depositodemadeira3.jpg" alt="">
                <h3>Titulo</h3>
                <h3>estrelinha</h3>
                <h3>R$9999,99</h3>
                </div>
                <div class="produto" id="produto3">
                <img src="img/depositodemadeira3.jpg" alt="">
                <h3>Titulo</h3>
                <h3>estrelinha</h3>
                <h3>R$9999,99</h3>
                </div>
                <div class="produto" id="produto4">
                <img src="img/depositodemadeira3.jpg" alt="">
                <h3>Titulo</h3>
                <h3>estrelinha</h3>
                <h3>R$9999,99</h3>
                </div>
                <div class="produto" id="produto5">
                <img src="img/depositodemadeira3.jpg" alt="">
                <h3>Titulo</h3>
                <h3>estrelinha</h3>
                <h3>R$9999,99</h3>
                </div>
            </div>
        </section>
        <%-include("partes/footer")%>
        <script src="home.js"></script>
    </body>

    </html>

