<%- include("partes/head") %>

    <body>
        <link rel="stylesheet" href="/css/produto.css">
        <link rel="stylesheet" href="/css/geral.css">
        <%- include("partes/header") %>
            <main>
                <div class="produtointerno">
                <div class="produtofotos">
                    <ul>
                        <li><img src="/img/<%= produto.imagem%>" alt=""></li>
                        <li><img src="/img/<%= produto.imagem%>" alt=""></li>
                        <li><img src="/img/<%= produto.imagem%>" alt=""></li>
                        <li><img src="/img/<%= produto.imagem%>" alt=""></li>
                        <li><img src="/img/<%= produto.imagem%>" alt=""></li>
                        <li><img src="/img/<%= produto.imagem%>" alt=""></li>
                    </ul>
                    <img class="imgproduto" src="/img/<%= produto.imagem%>" alt="">
                </div>
                <div class="produto">
                    
                    <div class="descricao">
                        <h2 class="nomedaloja">Nome: <%= produto.nome%></h2>
                        <p class="preco">Preco: R$ <%= produto.preco%></p>
                    </div>
                    <div class="informacoes">
                        <h1 class="nomedaloja">informacoes</h1>
                        <form action="produtoInterno.ejs" id="cep">
                            <div>
                                <label for="cep">Cep:</label>
                                <input class="cep" type="text" id="cep">
                            <div>
                            </div>
                                <label for="cep">Frete:</label>
                                <input class="frete" type="text" id="frete">
                            </div>
                        </form>
                        <a href="/finaliza">
                            <input class="comprar" type="button" value="comprar"></input>
                        </a>
                        <a href="/carrinho">
                            <input class="adicionar" type="button" value="adicionar ao carrinho">
                        </a>
                    </div>
                </div>
            </div>
            </main>
            <%- include("partes/footer") %>
    </body>